
@media (max-width: 970px){
    .login-text h1{
        font-size: 40px;
        margin-top: 5vh;
    }
    .login-text p {
        font-size: 17px;
    }
}

@media (max-width: 785px) {
    .container {
        flex-direction: column;
    }
    .login-text {
        width: 100%;
        height: 50vh;
    }
    .login-text h1{
        font-size: 35px;
        margin-top: 5vh;
    }
    .login-text p {
        font-size: 13px;
    }
    .login-area{
        width: 100%;
    }
    
}


@media (max-width: 500px){
    
    .container {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    #User-facilities label{
        margin-left: -100px;
        cursor: pointer;
    }
}

@media (max-width: 380px){
    #icon-user{
        margin: -87px 250px 0px 0px;
    }
    #icon-password {
        margin: 35px 250px 0px 0px;
    }
    #User-facilities label{
        margin-left: -90px;
    }
}
